# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# FastAPI specific
*.db
instance/
*.sqlite3

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# IDEs
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# dotenv
.env
.env.*

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Profiling
.prof

# Docker
*.pid
*.sock
__docker_volume__/

# Local dev
*.local
*.DS_Store


app/initial